.sidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 55px;
    background-color: #fff;
    width: 72px;
}

.sidebar-link{
    background-color: lightgray;
    height: 76px;
    margin-bottom: 1px;
}